.about-me {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2rem;
  .link-color {
    color: $light-blue;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: $extra-light-blue;
    }
  }
  .link-number {
    color: $extra-light-blue;
  }
  .description {
    color: $light-blue;
  }
  .name {
    color: $light-blue;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in; 
  }
}

/*Responsive about-me-section*/
@media screen and (max-width: 900px) {
  .about-me{
      width: 100%;
      padding: none;
  }
}