.accordion {
  width: 100%;
  z-index: 3;
  .accordion-item {
    background-color: $dark-blue;
    .accordion-button {
      background-color: $blue;
      color: $white;
      &::after {
        color: $light-blue !important;
      }
      &:not(.colapsed)::after {
        color: $light-blue !important;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
    .accordion-body {
      background-color: $blue-green;
    }
  }
}
