.home {
  width: 70%;
  height: 90vh;
  margin: auto;
  .greeting {
    color: $extra-light-blue;
  }
  .name {
    color: $white;
  }
  .description {
    color: $light-blue;
  }
  .profile-foto {
    width: 50%;
    border-radius: 1%;
    z-index: 1;
    box-shadow: 1rem 1rem $blue;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.5s ease;
    &:hover {
      border-radius: 0% / 0% 0% 5% 5%;
      box-shadow: 0.5rem 0.5rem $blue;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}


/*Responsive home-section*/
@media screen and (max-width: 900px) {
    .home{
        width: 100%;
        padding: 1.5rem;
        height: auto;
        .profile-foto {
            width: 100%;
          }
    }
  }
