.home {
  width: 70%;
  height: 90vh;
  margin: auto;
  padding-top: 3rem;
  .bg-checkbox{
    .fa-sun,.fa-moon {
      color: $white;
    }
  }
  .greeting {
    color: $extra-light-blue;
  }
  .name {
    color: $white;
  }
  .description {
    color: $light-blue;
  }
  .profile-foto {
    width: 50%;
    border-radius: 1%;
    z-index: 2;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.5s ease;
    @include box-shadow;
    &:hover {
      box-shadow: none;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}

/*Responsive home-section*/
@media screen and (max-width: 900px) {
    .home{
      width: 100%;
      padding: .5rem 1.5rem;
      height: auto;
        .profile-foto {
          width: 100%;
    }
  }
}
