@import "./variables";

//default classes
@each $color, $value in $theme-colors {
  // .text-#{$color} {
  //   color: $value !important;
  // }

  // .bg-#{$color} {
  //   background-color: $value !important;
  // }
}

//Border
@mixin border {
  border: 0.1rem solid $light-blue;
}

@mixin btn-border {
  @include border;
  background-color: $dark-blue;
  color: $light-blue;
  padding: 0.6rem 1rem;
  border-radius: .2rem;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: $blue-green;
    color: $extra-light-blue;
  }
}

@mixin box-shadow {
  box-shadow: $light-blue 0.5rem 0.5rem, $light-blue 0.8rem 0.9rem;
}

@mixin focus {
  outline: none;
  color: $white;
}