@mixin border {
    border: .1rem solid $extra-light-blue;
}

@mixin link-border {
    @include border;
    background-color: $shades-blue;
    color: $extra-light-blue;
    padding: .6rem 1rem;
    border-radius: 2%;
    transition: all .25s ease-in-out;
    &:hover {
     background-color: $light-nav;
    }
}

@mixin btn-static{
    background-color: $blue;
    color: $light-blue;
    border-radius: 5rem;
    padding: .5rem 2rem;
}

@mixin box-shadow {
    box-shadow: $light-blue 5px 5px,  //TODO: use rem instead px
    $light-blue 10px 10px
}

@mixin focus {
    outline: none;
    color: $white;
    background-color: red;
}