//colors
$blue: #2a78fd;
$dark-blue: #040317;
$light-blue: #41c1fd;
$extra-light-blue: #a8b4d8;
$blue-green: #112240;
$white: #f7faff;

$theme-colors: () !default;
$theme-colors: map-merge (
    (
      "blue": $blue,
      "dark-blue": $dark-blue,
      "light-blue": $light-blue,
      "extra-light-blue": $extra-light-blue,
      "blue-green": $blue-green,
      "white": $white
    ),
  $theme-colors
);