$blue: #406882;
$matt-blue: #2c3639;
$shades-blue: #0a192f;
$light-blue: #B1D0E0;
$extra-light-blue: #00E7FF; //#64ffda.
$light-nav: #112240;
$black: #000000;
$white: #FFFFFF;


$theme-colors: (
    "primary": red
);

// Create your own map
$custom-colors: (
  "blue": #00E7FF
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);