@import "./variables";
.work {
  background-color: green;
  color: red;
  .name {
    color: $light-blue;
  }
  .link-number {
    color: $extra-light-blue;
  }
  img {
    transition: transform 0.25s;
    .project {
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
