.work-experience {
  height: auto;
  width: 60%;
  margin: auto;
  .name {
    color: $light-blue;
  }
  .link-number {
    color: $extra-light-blue;
  }
  .accordion {
    width: 100%;
    margin: auto;
    z-index: 2;
    .accordion-item {
      background-color: $shades-blue;
      .accordion-button {
        background-color: $blue;
        color: $light-blue;
      }
      .accordion-body {
        background-color: $light-nav;
        color: $light-blue;
      }
    }
    .description {
      color: $light-blue;
    }
    .skills-btn{
      display: flex;
      .btn {
        @include btn-static;
      }
    }
  }
  .fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in; 
  }
}

/*Responsive work-experience section*/
@media screen and (max-width: 900px) {
  .work-experience {
    width: 100%;
    margin: none;
    padding: 0 1.5rem;
    background:  linear-gradient(to bottom, rgba(115, 142, 201, 0.52), rgba(0, 9, 27, 0.73)), url(../images/js.code.jpg)no-repeat center center;
    background-size: cover;
    .accordion {
      width: 100%;
      .skills-btn {
        display: none;
      }
    }
  }
}
