nav {
  background: rgba(4, 3, 23, 0);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  transition: all 0.7s ease-in-out;
  z-index: 1;
}
nav .container-fluid {
  height: 8vh;
}
nav .container-fluid .logo img {
  width: 2rem;
}
nav .container-fluid .nav-links {
  width: 40%;
  display: flex;
  margin-bottom: unset !important;
}
nav .container-fluid .nav-links .link-name {
  color: #a8b4d8;
  transition: all 0.25s ease-in-out;
}
nav .container-fluid .nav-links .link-name:hover {
  color: #41c1fd;
}
nav .container-fluid .nav-links .icons {
  display: none;
}
nav .container-fluid .menu {
  display: none;
}
nav .container-fluid .menu .openMenu {
  display: block;
  cursor: pointer;
  color: #41c1fd;
}
nav .container-fluid .menu .closeMenu {
  display: none;
  cursor: pointer;
  color: #41c1fd;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*Responsive*/
@media screen and (max-width: 1400px) {
  nav .container-fluid .nav-links {
    width: 55%;
  }
}
@media screen and (max-width: 1240px) {
  nav {
    background: #040317;
  }
  nav .container-fluid .logo img {
    width: 1.5rem;
  }
  nav .container-fluid .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 80%;
    top: 6vh;
    background-color: #040317;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 3rem 0;
  }
  nav .container-fluid .nav-links .icons {
    display: flex;
  }
  nav .container-fluid .nav-links li {
    opacity: 0;
  }
  nav .container-fluid .menu {
    display: block;
  }
}
nav .container-fluid .nav-active {
  transform: translateX(0%);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1242px) {
  .home {
    height: 87vh;
  }
}
@media screen and (max-width: 1240px) {
  .home {
    height: 50vh;
  }
}
@media screen and (max-width: 1024px) {
  .home {
    height: 60vh;
  }
}
@media screen and (max-width: 990px) {
  .home {
    height: 52vh;
  }
}
@media screen and (max-width: 770px) {
  .home {
    height: 55vh;
  }
}
@media screen and (max-width: 545px) {
  .home {
    height: 75vh;
  }
}
@media screen and (max-width: 380px) {
  .home {
    height: 100vh;
  }
}
.profile-photo {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1%;
  border: 0.1rem solid #41c1fd;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem #41c1fd) invert(5%);
  transition: all 0.5s ease;
}
.profile-photo:hover {
  filter: none;
}

@media screen and (max-width: 991px) {
  .profile-photo {
    width: 100%;
  }
}
.accordion {
  width: 100%;
  z-index: 3;
}
.accordion .accordion-item {
  background-color: #040317;
}
.accordion .accordion-item .accordion-button {
  background-color: #2a78fd;
  color: #f7faff;
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none !important;
}
.accordion .accordion-item .accordion-body {
  background-color: #112240;
}

.link-name {
  color: #a8b4d8;
  transition: all 0.25s ease-in-out;
}
.link-name:hover {
  color: #41c1fd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #040317;
}

::-webkit-scrollbar-thumb {
  background: #41c1fd;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #41c1fd;
}

/*Bg-blurred on opening the menu*/
.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

/*Fullpage navigation*/
#fp-nav ul li a span {
  background-color: #2a78fd;
}

.fp-is-overflow > .fp-overflow {
  overflow-y: unset !important;
}

/*Button*/
.button-nav {
  border: 0.1rem solid #41c1fd;
  background-color: #040317;
  color: #41c1fd;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.15s ease-in-out;
}
.button-nav:hover {
  background-color: #112240;
  color: #a8b4d8;
}

.text-blue {
  color: #2a78fd;
}

.text-dark-blue {
  color: #040317;
}

.text-light-blue {
  color: #41c1fd;
}

.text-extra-light-blue {
  color: #a8b4d8;
}

.text-white {
  color: #f7faff;
}

.font-size-1 {
  font-size: 6rem;
}

.font-size-2 {
  font-size: 3rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1.2rem;
}

.font-size-5 {
  font-size: 1rem;
}

/*Observer animation*/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
}

.from-bottom {
  transition: opacity 100ms ease-in, transform 0.5s ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateX(0);
  opacity: 1;
}

/*projects-img customisation*/
.project-img {
  width: 90%;
  border-radius: 0.2rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem #41c1fd) invert(25%);
  transition: all 0.3s ease-in-out;
  border: 0.1em inset #41c1fd;
}
.project-img:hover {
  filter: none;
}

.col-container {
  background-color: #f7faff;
  height: 20rem;
}
.col-container .device-container {
  width: 20rem;
}
.col-container .device-container .device-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.col-container .second-device {
  bottom: 0rem;
  right: 3rem;
}

.email {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 5rem;
  bottom: 0;
}
.email .email-text {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.email .email-text:hover {
  color: #41c1fd;
}
.email .email-text::after {
  content: "";
  display: block;
  width: 1px;
  height: 4rem;
  margin-top: 1rem;
  background-color: #41c1fd;
}

.circle {
  display: none;
  position: fixed;
  display: none;
  right: 0;
  bottom: -16rem;
}

/*Responsive*/
@media screen and (min-width: 1700px) {
  .email {
    display: flex;
  }
  .circle {
    display: block;
  }
}
@media screen and (max-width: 1240px) {
  .font-size-1 {
    font-size: 3rem;
  }
  .font-size-2 {
    font-size: 1.5rem;
  }
  .font-size-3 {
    font-size: 1.2rem;
  }
  .font-size-4 {
    font-size: 1.1rem;
  }
  .font-size-5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .project-img {
    width: 100%;
  }
  .col-container {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .col-container .second-device {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */