@import "./navbar";
@import "./home";
@import "./about";
@import "./experience";
@import "./contact";
@import "./mixins";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
//width
::-webkit-scrollbar {
  width: 0.5rem;
}
//Track
::-webkit-scrollbar-track {
  background: $dark-blue;
}
//Handle
::-webkit-scrollbar-thumb {
  background: $light-blue;
  border-radius: 1rem;
}
//Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $light-blue;
}

/*Bg-blurred on opening the menu*/
.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

/*Fullpage navigation*/
#fp-nav ul li a span {
  background-color: $blue;
}

//TODO: check it out
.fp-is-overflow > .fp-overflow {
  overflow-y: unset !important;
}

/*Button*/
.button-nav {
  @include btn-border;
}

//text-color
.text-blue {
  color: $blue;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-light-blue {
  color: $light-blue;
}

.text-extra-light-blue {
  color: $extra-light-blue;
}

.text-white {
  color: $white;
}

//Font-size
.font-size-1 {
  font-size: 6rem;
}

.font-size-2 {
  font-size: 3rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1.2rem;
}

.font-size-5 {
  font-size: 1rem;
}

/*Observer animation*/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
}

.from-bottom {
  transition: opacity 100ms ease-in, transform 0.5s ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateX(0);
  opacity: 1;
}

/*projects-img customisation*/
.project-img {
  width: 90%;
  border-radius: 0.2rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem $light-blue) invert(25%);
  -webkit-transition: 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0.1em inset $light-blue;
  &:hover {
    filter: none;
  }
}

//Devices
.col-container {
  background-color: $white;
  height: 20rem;
  .device-container {
    width: 20rem;
    .device-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .second-device {
    bottom: 0rem;
    right: 3rem;
  }
}

// fullHD icon and email
.email {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 5rem;
  bottom: 0;
  .email-text {
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    letter-spacing: 0.1rem;
    // text-orientation: upright;
    font-size: 1rem;
    &:hover {
      color: $light-blue;
    }
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 4rem;
      margin-top: 1rem;
      background-color: $light-blue;
    }
  }
}

//Circle on FullHD
.circle {
  display: none;
  position: fixed;
  display: none;
  right: 0;
  bottom: -16rem;
}

/*Responsive*/
@media screen and (min-width: 1700px) {
  .email {
    display: flex;
  }
  .circle {
    display: block;
  }
}

@media screen and (max-width: 1240px) {
  .font-size-1 {
    font-size: 3rem;
  }

  .font-size-2 {
    font-size: 1.5rem;
  }

  .font-size-3 {
    font-size: 1.2rem;
  }

  .font-size-4 {
    font-size: 1.1rem;
  }

  .font-size-5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .project-img {
    width: 100%;
  }
  .col-container {
    display: flex;
    justify-content: center;
    height: auto;
    .second-device {
      display: none;
    }
  }
}
