nav {
  background-color: #0a192f;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
nav .containar-fluid {
  justify-content: space-around;
  /*Logo*/
  /*Menu*/
}
nav .containar-fluid .logo-title {
  color: #00E7FF;
}
nav .containar-fluid .menu {
  display: block;
  cursor: pointer;
}
nav .containar-fluid .menu .line1 {
  background-color: #00E7FF;
  width: 2rem;
  height: 0.1rem;
  transition: all 0.7s ease;
  margin: 0.3rem;
}
nav .containar-fluid .menu .line2 {
  background-color: #00E7FF;
  width: 1.5rem;
  height: 0.1rem;
  float: right;
  transition: all 0.7s ease;
  margin: 0.3rem;
}

.menuToggle .line1 {
  transform: rotate(-45deg) translate(-3px, 7px);
}

.menuToggle .line2 {
  transform: rotate(45deg) translate(-5px, 1px);
}

/*Sidenav*/
.sidenav {
  height: 100vh;
  width: 20%;
  right: 0;
  float: right;
  z-index: 2;
  background-color: #112240;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.sidenav .nav-links {
  left: 0;
  top: 0;
}
.sidenav .link-color {
  color: #B1D0E0;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.sidenav .link-color:hover {
  color: #00E7FF;
}
.sidenav .link-number {
  color: #00E7FF;
}
.sidenav .resume {
  border: solid 0.1rem #00E7FF;
  border-radius: 5%;
}
.sidenav .nav-links li {
  opacity: 0;
}

.sidenav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*Responsive navbar*/
@media screen and (max-width: 900px) {
  nav .containar-fluid {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .sidenav {
    width: 80%;
  }
}
.home {
  width: 70%;
  height: 90vh;
  margin: auto;
}
.home .greeting {
  color: #00E7FF;
}
.home .name {
  color: #FFFFFF;
}
.home .description {
  color: #B1D0E0;
}
.home .profile-foto {
  width: 50%;
  border-radius: 1%;
  z-index: 1;
  box-shadow: 1rem 1rem #406882;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.home .profile-foto:hover {
  border-radius: 0%/0% 0% 5% 5%;
  box-shadow: 0.5rem 0.5rem #406882;
  filter: grayscale(0);
}

/*Responsive home-section*/
@media screen and (max-width: 900px) {
  .home {
    width: 100%;
    padding: 1.5rem;
    height: auto;
  }
  .home .profile-foto {
    width: 100%;
  }
}
.about-me {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2rem;
}
.about-me .link-color {
  color: #B1D0E0;
  transition: all 0.25s ease-in-out;
}
.about-me .link-color:hover {
  color: #00E7FF;
}
.about-me .link-number {
  color: #00E7FF;
}
.about-me .description {
  color: #B1D0E0;
}
.about-me .name {
  color: #B1D0E0;
}
.about-me .fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(100%);
}

.from-left {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-right {
  transition: opacity 300ms ease-in, transform 1s ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/*Responsive about-me-section*/
@media screen and (max-width: 900px) {
  .about-me {
    width: 100%;
    padding: none;
  }
}
.work-experience {
  height: auto;
  width: 60%;
  margin: auto;
}
.work-experience .name {
  color: #B1D0E0;
}
.work-experience .link-number {
  color: #00E7FF;
}
.work-experience .accordion {
  width: 100%;
  margin: auto;
  z-index: 2;
}
.work-experience .accordion .accordion-item {
  background-color: #0a192f;
}
.work-experience .accordion .accordion-item .accordion-button {
  background-color: #406882;
  color: #B1D0E0;
}
.work-experience .accordion .accordion-item .accordion-body {
  background-color: #112240;
  color: #B1D0E0;
}
.work-experience .accordion .description {
  color: #B1D0E0;
}

/*Responsive work-experience section*/
@media screen and (max-width: 900px) {
  .work-experience {
    width: 100%;
    margin: none;
    padding: 0 1.5rem;
    background: linear-gradient(to bottom, rgba(115, 142, 201, 0.52), rgba(0, 9, 27, 0.73)), url(../images/js.code.jpg) no-repeat center center;
    background-size: cover;
  }
  .work-experience .accordion {
    width: 100%;
  }
}
.work-projects {
  width: 90%;
  margin: auto;
}
.work-projects .name {
  color: #B1D0E0;
}
.work-projects .link-number {
  color: #00E7FF;
}
.work-projects .project-img {
  width: 90%;
  border-radius: 1%;
  box-shadow: 1rem 1rem #406882;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.work-projects .project-img:hover {
  box-shadow: 0.5rem 0.5rem #112240;
  filter: grayscale(0);
  transform: scale(1.01);
}
.work-projects .text-right {
  float: right;
  clear: right;
}
.work-projects .card {
  width: auto;
  background-color: #112240;
  border-radius: 2%;
  transition: 0.4s;
}
.work-projects .card:hover {
  transform: translate(0, -10px);
}
.work-projects .container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .work-projects {
    width: 100%;
    margin: none;
    padding: 1.5rem;
  }
  .work-projects .project-img {
    width: 100%;
  }
  .work-projects .text-right {
    float: none;
  }
  .work-projects .container {
    width: 100%;
    margin: none;
  }
}
.contact {
  width: 50%;
  margin: auto;
}
.contact .name {
  color: #B1D0E0;
}
.contact .link-number {
  color: #00E7FF;
}

@media screen and (max-width: 900px) {
  .contact {
    width: 100%;
    margin: none;
    padding: 1.5rem;
  }
}
footer .name {
  color: #B1D0E0;
}
footer .link-number {
  color: #00E7FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #B1D0E0;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #B1D0E0;
}

.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

#blurred {
  background-color: #0a192f;
}/*# sourceMappingURL=style.css.map */