@import "./navbar";
@import "./home";
@import "./about";
@import "./experience";
@import "./mixins";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

/*Bg-blurred on opening the menu*/
.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

/*Fullpage navigation*/
#fp-nav ul li a span {
  background-color: $blue;
}

/*Button*/
.button-nav {
  @include btn-border;
}

/* Scrollbar */
//width
::-webkit-scrollbar {
  width: 0.5rem;
}
//Track
::-webkit-scrollbar-track {
  background: $dark-blue;
}
//Handle
::-webkit-scrollbar-thumb {
  background: $light-blue;
  border-radius: 1rem;
}
//Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $light-blue;
}

//text-color
.text-blue {
  color: $blue;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-light-blue {
  color: $light-blue;
}

.text-extra-light-blue {
  color: $extra-light-blue;
}

.text-white {
  color: $white;
}

//Font-size
.font-size-1 {
  font-size: 6rem;
}

.font-size-2 {
  font-size: 3rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1.2rem;
}

.font-size-5 {
  font-size: 1rem;
}

/*Observer animation*/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
}

.from-bottom {
  transition: opacity 100ms ease-in, transform 0.5s ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateX(0);
  opacity: 1;
}

/*projects-img customisation*/
.project-img {
  width: 90%;
  border-radius: 0.2rem;
  filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}

// fullHD icon and email 
.email {
  display: none;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  left: 5rem;
  bottom: 0;
  .email-text{
    display: flex;
    align-items: center;
    writing-mode:vertical-rl;
    letter-spacing: 0.1rem;
    &:hover {
      color: $light-blue;
    }
    &::after {
    content: "";
    display: block;
    width: 1px;
    height: 5rem;
    margin-top: 1.6rem;
    background-color: $light-blue;
    }
  }
}

.circle {
  display: none;
  position: fixed;
  display: none;
  right: 0;
  bottom: -15rem;
}

/*Responsive*/
@media screen and (max-width: 900px) {
  .project-img {
    width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .font-size-1 {
    font-size: 3rem;
  }

  .font-size-2 {
    font-size: 1.5rem;
  }

  .font-size-3 {
    font-size: 1.2rem;
  }

  .font-size-4 {
    font-size: 1.1rem;
  }

  .font-size-5 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .email {
     display: flex;
  }
  .circle {
     display: block;
  }
}
