nav {
  background: rgba(4, 3, 23, 0);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  transition: all 0.7s ease-in-out;
  z-index: 1;
}
nav .container-fluid {
  height: 8vh;
}
nav .container-fluid .logo img {
  width: 2rem;
}
nav .container-fluid .nav-links {
  width: 40%;
  display: flex;
  margin-bottom: unset !important;
}
nav .container-fluid .nav-links .link-name {
  color: #a8b4d8;
  transition: all 0.25s ease-in-out;
}
nav .container-fluid .nav-links .link-name:hover {
  color: #41c1fd;
}
nav .container-fluid .nav-links .icons {
  display: none;
}
nav .container-fluid .menu {
  display: none;
}
nav .container-fluid .menu .openMenu {
  display: block;
  cursor: pointer;
  color: #41c1fd;
}
nav .container-fluid .menu .closeMenu {
  display: none;
  cursor: pointer;
  color: #41c1fd;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*Responsive*/
@media screen and (max-width: 1240px) {
  nav {
    background: #040317;
  }
  nav .container-fluid .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 80%;
    top: 6vh;
    background-color: #040317;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 3rem 0;
  }
  nav .container-fluid .nav-links .icons {
    display: flex;
  }
  nav .container-fluid .nav-links li {
    opacity: 0;
  }
  nav .container-fluid .menu {
    display: block;
  }
}
nav .container-fluid .nav-active {
  transform: translateX(0%);
}

p {
  margin-bottom: none !important;
}

.profile-photo {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1%;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.profile-photo:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 991px) {
  .profile-photo {
    width: 100%;
  }
}
.accordion {
  width: 100%;
  z-index: 3;
}
.accordion .accordion-item {
  background-color: #040317;
}
.accordion .accordion-item .accordion-button {
  background-color: #2a78fd;
  color: #f7faff;
}
.accordion .accordion-item .accordion-button::after {
  color: #f7faff;
}
.accordion .accordion-item .accordion-button:not(.colapsed)::after {
  color: #f7faff;
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none !important;
}
.accordion .accordion-item .accordion-body {
  background-color: #112240;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

/*Bg-blurred on opening the menu*/
.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

/*Fullpage navigation*/
#fp-nav ul li a span {
  background-color: #2a78fd;
}

/*Button*/
.button-nav {
  border: 0.1rem solid #41c1fd;
  background-color: #040317;
  color: #41c1fd;
  padding: 0.6rem 1rem;
  border-radius: 2%;
  transition: all 0.15s ease-in-out;
}
.button-nav:hover {
  background-color: #112240;
  color: #a8b4d8;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #040317;
}

::-webkit-scrollbar-thumb {
  background: #41c1fd;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #41c1fd;
}

.text-blue {
  color: #2a78fd;
}

.text-dark-blue {
  color: #040317;
}

.text-light-blue {
  color: #41c1fd;
}

.text-extra-light-blue {
  color: #a8b4d8;
}

.text-white {
  color: #f7faff;
}

.font-size-1 {
  font-size: 6rem;
}

.font-size-2 {
  font-size: 3rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1.2rem;
}

.font-size-5 {
  font-size: 1rem;
}

/*Observer animation*/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
}

.from-bottom {
  transition: opacity 100ms ease-in, transform 0.5s ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateX(0);
  opacity: 1;
}

/*Img customisation*/
.project-img {
  width: 90%;
  border-radius: 0.2rem;
  filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
  transition: all 0.2s ease-in-out;
}
.project-img:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.footer .email {
  display: none;
  position: fixed;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  bottom: 0;
}
.footer .circle {
  position: fixed;
  display: none;
  right: 0;
}

/*Responsive*/
@media screen and (max-width: 1240px) {
  .font-size-1 {
    font-size: 3rem;
  }
  .font-size-2 {
    font-size: 1.5rem;
  }
  .font-size-3 {
    font-size: 1.2rem;
  }
  .font-size-4 {
    font-size: 1.1rem;
  }
  .font-size-5 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .footer .email {
    display: block;
  }
  .footer .circle {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */