@import "./header";
@import "./variables";
@import "./home";
@import "./about-me";
@import "./workExperience";
@import "./workProjects";
@import "./contact";
@import "./mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* Scrollbar */
//width
::-webkit-scrollbar {
  width: 0.5rem;
}
//Track
::-webkit-scrollbar-track {
  background: $shades-blue;
}
//Handle
::-webkit-scrollbar-thumb {
  background: $light-blue;
  border-radius: 1rem;
}
//Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $light-blue;
}

/*Bg-blurred on opening the side-menu*/
.is-blurred {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  pointer-events: none;
}

/*Main background color*/
.main-section {
 background-color: $shades-blue;
}

/*Change background color*/
.light-mode {
  @include bg-light-mode;
}

/*Observer animation*/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in; 
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(100%);
}

.from-left {
  transition: opacity 300ms ease-in, transform 0.75s ease-in;
  opacity: 0;
}
.from-right {
  transition: opacity 300ms ease-in, transform 0.75s ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/*Toast*/
.toast{
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 5rem;
  .toast-header {
    background-color: $white;
    color: $shades-blue;
  }
  .toast-body {
    background-color: $white;
    color: $shades-blue;
  }
}

/*Back to top btn*/
#backbtn {
  box-shadow: rgba(1, 5, 41, 0.4) 0px 2px 4px, rgba(0, 12, 27, 0.3) 0px 7px 13px -3px, rgba(0, 5, 29, 0.2) 0px -3px 0px inset;;
  background: transparentize($color: $shades-blue, $amount: 0.9);
  backdrop-filter: blur(.5rem);
  @include border;
  color: $extra-light-blue;
  text-align: center;
  overflow: hidden;
  display: none;
  cursor: pointer;
  position: fixed;
  width: 2.5rem;
  line-height: 1.5rem;
  bottom: 3rem;
  right: 3rem;
  z-index: 1;
  &:hover {
    background-color: $light-blue;
    color: $shades-blue;
  }
  &:focus {
    box-shadow: none !important;
  }
}

/*Add shadow to the navbar on scrolling down*/
.nav-shadow {
  box-shadow: rgba(1, 5, 41, 0.4) 0px 2px 4px, rgba(0, 12, 27, 0.3) 0px 7px 13px -3px, rgba(0, 5, 29, 0.2) 0px -3px 0px inset;;
  background: transparentize($color: $shades-blue, $amount: 0.3);
  backdrop-filter: blur(.5rem);
}

/*Responsive*/
@media screen and (max-width: 900px) {
  .toast {
    display: none;
  }
}
